*{
    padding: 0%;
    margin: 0%;
}
.login-box{
    width: 100%;
    margin-top: 1rem;
    height:fit-content;
    display: flex;
    gap: 15px;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
input{
    height: 40px;
    width: 80%;
    outline: none;
    border: none;
    background-color:#F5F6F7;
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 0px  rgba(0,0,0,0.1),inset 0px 2px 2px 0px  rgba(0,0,0,0.1);
}
button{
    height: 40px;
    width: 80%;
    outline: none;
    border: none;
    color: #e6e6e6;
    background-color: #25d366;
    border-radius: 10px;
    box-shadow: 2px 2px 0px  rgba(0,0,0,0.1),inset 0px 2px 2px 0px  rgba(0,0,0,0.1);
}
hr{
    
    height: 0.5px;
    background-color: gray;
    width: 40%;
}
.line{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reg{
    display: none;
}